.example-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-sidenav-container{
    flex: 1;
}

.example-spacer{
    flex: 1 1 auto;
}

.mat-icon-home {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 100px;
    height: 100px;
    font-size: 56px;
}
