<div class="example-container">
  <mat-toolbar class="example-toolbar" style="background-color: #ffbb33;">

    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/" style="cursor: pointer">
      <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon" style="color: #139DAF;">
        local_hospital</mat-icon>
      <span style="color: #139DAF; font-weight: 700;">Hospital</span>
    </button>
    <div style="width: 450%;"></div>

    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/consultas" style="cursor: pointer">
      <mat-icon style="color: white;">insert_drive_file</mat-icon>
      <span style="color: white;">Consultas</span>
    </button>

    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/especialidades" style="cursor: pointer">
      <mat-icon style="color: white;">view_carousel</mat-icon>
      <span style="color: white;">Especialidades</span>
    </button>

    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/medicos" style="cursor: pointer">
      <mat-icon style="color: white;">star_rate</mat-icon>
      <span style="color: white;">Medicos</span>
    </button>

    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/examenes" style="cursor: pointer">
      <mat-icon style="color: white;">healing</mat-icon>
      <span style="color: white;">Examenes</span>
    </button>

    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/pacientes" style="cursor: pointer">
      <mat-icon style="color: white;">assignment</mat-icon>
      <span style="color: white;">Pacientes</span>
    </button>

    <h1 class="example-app-name"></h1>
    <span class="example-spacer"></span>



    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/perfil">
        <mat-icon>account_box</mat-icon>

      </button>
      <button mat-menu-item (click)="sidenav.opened = false">
        <mat-icon>exit_to_app</mat-icon>
 
      </button>
    </mat-menu>
    
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav style="width: 200px">

      <button mat-menu-item (click)="sidenav.toggle()" routerLink="/buscar" style="cursor: pointer">
        <mat-icon>search</mat-icon>
        <span>Buscar</span>
      </button>

      <mat-divider></mat-divider>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>