<div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="filtrar($event.target.value)" placeholder="Buscar paciente">
    </mat-form-field>
</div>

<mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="idPaciente">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.idPaciente}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="nombres">
        <mat-header-cell *matHeaderCellDef mat-sort-header>nombres </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.nombres}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="apellidos">
        <mat-header-cell *matHeaderCellDef mat-sort-header>apellidos </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.apellidos}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef mat-sort-header>acciones </mat-header-cell>
        <mat-cell *matCellDef="let row">
        <button mat-button color="primary"><mat-icon>ballot</mat-icon></button>
        <button mat-button color="accent"><mat-icon>delete</mat-icon></button>
    </mat-cell>
    </ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;">

</mat-row>


</mat-table>